/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(90deg, limegreen, rgb(15, 15, 15));
}

button {
    border-radius: 50%;
    border-color: chartreuse;
    padding: 15px;
    background: rgb(8, 80, 8);
    color:yellow;
}

button:hover {
    background: darkgreen;
}

form {
    width: 5.8in;
    border-style: ridge;
    border-radius: 5%;
    border-width: 10px;
    border-color: chartreuse;
    padding: auto;
    margin: auto;
    background: linear-gradient(90deg, limegreen, rgb(15, 15, 15));
}

.form-group {
    padding: 7px;
    margin-left: 15px;
    margin-right: 15px;
    
}

.form-control {
    width: 5in;
    background: greenyellow;
}

.invalid-feedback {
    color: black;
}
