<p>waiting-room works!</p>

<div *ngFor="let applicant of waitingUsers;">
    <div>
        <!-- Might add a view stats or something button here or mayber their user rating -->
        {{ applicant.username }} 
        <div *ngIf="viewStats">
            <app-user-stats
                [applicant]="applicant"
            ></app-user-stats>
        </div>
        <button (click)="viewAchievements(applicant)">View Achievements</button>
        <button (click)="addingUserFromWaitingRoom(applicant)">Acccept</button>
        <button (click)="removingUserFromWaitingRoom(applicant)">Decline</button>
    </div>
</div>