<h2>{{group.groupLead.username}}</h2>
<br>
<div>
    <p>{{group.description}}</p>
    <p>{{group.currentSize}} of {{group.maxUsers}}</p>
</div>
<br>

<div *ngFor="let member of group.groupMembers;">
    <div *ngIf="checkUsername(member.username)">
        {{ member.username }} <button (click)="group.removeGroupMember(member)">Remove Member</button>
    </div>
</div>

<br>
<!-- Add functionality to go back to Group Select View and tell the server to delete Group -->
<button>Disband Group</button>
<br>

<div *ngFor="let applicant of group.waitingUsers;">
    <div>
        <!-- Might add a view stats or something button here or mayber their user rating -->
        {{ applicant.username }} 
        <button (click)="group.addGroupMember(applicant)">Accept</button>
        <button (click)="group.removeUserFromWaitingList(applicant)">Decline</button>
    </div>
</div>