<h2>{{group._groupLead.username}}</h2>
<br>
<div>
    <p>{{group._groupDetails.description}}</p>
    <p>{{group._groupDetails.currentusers}} of {{group._groupDetails.maxusers}}</p>
</div>
<br>

<div *ngFor="let member of group._groupMembers;">
    <div *ngIf="checkUsername(member.username)">
        <button (click)="viewAchievements(member)">View Achievements</button>
        <p> {{ member.username }} <p></p><button (click)="removingUserFromWaitingRoom(member)">Remove Member</button>
    </div>
</div>

<br>
<!-- Add functionality to go back to Group Select View and tell the server to delete Group -->
<button type="button" (click)="disbandGroup()">Disband Group</button>
<button type="button" (click)="goMainPage()">Main Page</button>
<br>

<button type="button" (click)="goToWaitingRoom()">View Waiting Room</button>

<div *ngFor="let applicant of group._waitingUsers;">
    <div>
        <button (click)="viewAchievements(applicant)">View Achievements</button>
        {{ applicant.username }} 
        <button (click)="addingUserFromWaitingRoom(applicant)">Acccept</button>
        <button (click)="removingUserFromWaitingRoom(applicant)">Decline</button>
    </div>
</div>