<h2>{{group._groupLead.username}}</h2>
<br>
<div>
    <p>{{group._groupDetails.description}}</p>
    <p>{{group._groupDetails.currentusers}} of {{group._groupDetails.maxusers}}</p>
</div>
<br>

<div *ngFor="let member of group._groupMembers;">
    <div *ngIf="checkUsername(member._username)">
        {{ member._username }} <button (click)="removing()">Remove Member</button>
    </div>
</div>

<br>
<!-- Add functionality to go back to Group Select View and tell the server to delete Group -->
<button>Disband Group</button>
<button type="button" (click)="goMainPage()">Main Page</button>
<br>

<div *ngFor="let applicant of group._waitingUsers;">
    <div>
        <!-- Might add a view stats or something button here or mayber their user rating -->
        {{ applicant._username }} 
        <button (click)="addingUserFromWaitingRoom()">Accept</button>
        <button (click)="removingUserFromWaitingRoom()">Decline</button>
    </div>
</div>