<?xml version="1.0" encoding="UTF-8" ?>

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd%22%3E">

    <!--    <context:annotation-config/>-->
    <!--    <context:component-scan base-package="com.revature"/>-->

    <!--    <bean name="recipeRepository" class="com.revature.repository.RecipeRepository"/>-->
    <!--    <bean name="recipeService" class="com.revature.service.RecipeService" autowire="byName"/>-->

    <!--    <bean name="recipeController" class="com.revature.controller.RecipeController" autowire="constructor">-->
    <!--        <constructor-arg index="0" ref="recipeService"/>-->
    <!--    </bean>-->
</beans>