<div id='loginBox'>
    <form id='loginForm'> <!-- Add action to function for http req, if good proceed-->
        <div id='loginInputGroup'>
            <label for="username"><b>Username:</b></label>
            <input type="text" placeholder="Enter Username" name="username"/><br> <!-- Null check first, then add required-->
            <br>
            <label for="password"><b>Password: </b></label>
            <input type="password" placeholder="Enter Password" name="password"> <!-- Null check first, then add required-->
        </div>
        <br>
        <button id='loginButton' type="submit">Log In</button>
    </form>
    <br>
    <a id='newProfileButton' routerLink="/new">New User?</a> 
</div> 
