<div id="profileInfoBox">
    <div id="profileInfo" class="displayProfile">
        <label>Username: </label><br/>
        <label>First Name: </label><br/>
        <label>Last Name: </label><br/>
        <label>Email Address: </label><br/>
        <label>Statistics: </label> <!-- placeholder for now, not sure what info will go here or how to label it--><br/>




    </div>
    <p>There will be user info here</p>
</div>
<button id="profileModifyButton" (click)="modifyProfile()">Edit Profile</button>
<br><br>
<button id="backToMainButton" (click)="goToMain()">Go Back</button>
    
