<div id="profileInfoBox">
  <div id="profileInfo" class="displayProfile">
    
    <a *ngIf="stats"><img [src]="stats._avatar"></a><br><br>
    <label>Username: </label><br />
    <h2>{{currentUser.username}}</h2><br><br>

    <label>First Name: </label><br />
    <h2>{{currentUser.firstName}}</h2><br><br>

    <label>Last Name: </label><br />
    <h2>{{currentUser.lastName}}</h2><br><br>

    <label>Email Address: </label><br />
    <h2>{{currentUser.email}}</h2><br><br>

    <label>Steam Profile URL: </label><br />
    <a *ngIf="stats"><img [src]="stats._profileURL"></a><br><br>
  </div>
</div>
<button id="profileModifyButton" (click)="modifyProfile()">Edit your Information</button>
<br><br>
<button id="credentialModifyButton" (click)="modifyCredential()">Edit Login Credentials</button>
<br><br>
<button id="socialsModifyButton" (click)="modifySocials()">Link your Steam Profile</button>
<br><br>
<button id="backToMainButton" (click)="goToMain()">Go Back</button>
