.login-form-group {
    padding: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

#loginBox {
    margin: auto;
    width: 5in;
    height: 5in;
    transform: translate(0%, 60%);
}

#newProfileLink {
    margin-left: 2em;
    color: chartreuse;
}