<div id="mainBox" class="mainGroup">
    <div id="mainDisplayBox" class='mainGroup'>
        <div [ngSwitch]="panelNumber">
            <div>
                <div *ngSwitchCase="1"><app-game-display (emitter)="send($event)"></app-game-display></div>
                <div *ngSwitchCase="2"><app-view-game-groups (panelNumberChange)="changePanel($event)" [gameId]="gameId"></app-view-game-groups></div>
                <div *ngSwitchCase="3"><app-create-group [gameId]="gameId"></app-create-group></div>
                <div *ngSwitchDefault><app-game-display (emitter)="send($event)"></app-game-display></div>
            </div>
        </div>
    </div>
    
    <div id="infoDisplayBox" class="mainGroup">

    </div>

    <div id="profileDisplayBox" class="mainGroup">
        <div id="iconHolder" class="profileDisplayGroup">
            <h2>{{currentUser.username}}</h2>
        </div>
        <button id="profileDisplayButton" class="profileDisplayGroup" (click)="goToProfile()">View Profile</button>
        <button id="logOutButton" class="profileDisplayGroup" (click)="logOut()">Log Out</button>
    </div>

    <div id="groupAppCounterBox" class="mainGroup">

    </div>

    <div id="modeSelectBox" class="mainGroup">
        
    </div>
</div>