#mainDisplayBox {
    padding: 0;
}

#profileDisplayBox {
    position: sticky;
    top: 1in;
    left: 0.5in;
    border-style: groove;
    border-color: rgb(25, 77, 5);
    border-width: 0.6em;
    border-radius: 50%;
    background: linear-gradient(180deg, rgb(35, 167, 35), rgb(15, 15, 15));
    
    width: 4in;
    height: 2.3in;
    
}

h2 {
    text-align: center;
}

.profileDisplayButtons {
    margin-top: 1.5em;
    margin-left: 3em;
}

#joinedGroupsButton {
    margin-left: 7.5em;
    margin-top: 4em;
}

#hostViewButton {
    margin-left: 7.5em;
    margin-top: 4em;
}