<div id="mainBox" class="mainGroup">
  <div id="mainDisplayBox" class='mainGroup'>
    <div>
      <div *ngIf="!hostGroupPanel">
        <app-game-display></app-game-display>
      </div>
    </div>
  
    </div>
      <div id="infoDisplayBox" class="mainGroup">
    </div>
  
  <div *ngIf="hostGroupPanel">
    <button id="hostViewButton" class="hostDisplayGroup" (click)="goToSession()">View Hosted Session</button>
  </div>

  <div *ngIf="joinGroupPanel">
    <button id="joinedGroupsButton" class="joinDisplay" (click)="goToUserGroup()">View Sessions</button>
  </div>

  <div id="profileDisplayBox" class="mainGroup">
    <div id="iconHolder" class="profileDisplayGroup">
      <h2>{{currentUser.username}}</h2>
    </div>
    <button id="profileDisplayButton" class="profileDisplayGroup" (click)="goToProfile()">View Profile</button>
    <button id="logOutButton" class="profileDisplayGroup" (click)="logOut()">Log Out</button>
  </div>

  <div id="groupAppCounterBox" class="mainGroup">

  </div>
  <div id="modeSelectBox" class="mainGroup">
  </div>

</div>