<p>lfgmain works!</p>
<div id="mainBox" class="mainGroup">
    <div id="mainDisplayBox" class='mainGroup'>

    </div>
    
    <div id="infoDisplayBox" class="mainGroup">

    </div>

    <div id="profileDisplayBox" class="mainGroup">
        <div id="iconHolder" class="profileDisplayGroup">

        </div>
        <button id="profileDisplayButton" class="profileDisplayGroup" (click)="goToProfile()">View Profile</button>
    </div>

    <div id="groupAppCounterBox" class="mainGroup">

    </div>

    <div id="modeSelectBox" class="mainGroup">

    </div>
</div>