<div *ngFor="let member of groupMembers;">
    <div *ngIf="checkUsername(member.username)">
        <div id="member">
            <p> {{ member.username }} <p></p>
            <div *ngIf="viewStats">
                <app-user-stats
                    [applicant]="member"   
                >
                </app-user-stats>
            </div>
            <button (click)="viewAchievements(member)">View Achievements</button>
            <button (click)="removingUser(member)">Remove Member</button>
        </div>
    </div>
</div>
